div.bar-1 {
  width: 20%;
}

div.bar-2 {
  width: 40%;
}

div.bar-3 {
  width: 60%;
}

div.bar-4 {
  width: 80%;
}

div.bar-5 {
  width: 100%;
}

.highlight {
  display: none;
}

.wrapper {
  /*display: none;*/
  max-height: 400px;
  /*text-align: center;*/
}

.wrapper img {
  height: 400px;
  width: auto;
  margin: 0 auto;
}

#overlay-wrapper {
  display: none;
}
